@import "~styles/variables";

.button {
  background-color: white;
  border: $border;
  color: $dark;
  height: 40px;
  display: inline-block;

  &:hover {
    border: 2px solid $salmon;
    color: $salmon;
  }
}
