@import "~styles/variables";

.topBar {
  width: 100%;
  height: 50px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 50px;
  box-shadow: 0px 2px 4px 0px $secondary;
  color: $secondary;
  font-size: 1.3em;
  background-color: white;
}
