@import "~styles/variables";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: $secondary;
}

.logo {
  font-size: 1.3em;
  margin-right: 20px;
}

.menuItem {
  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
}

:global {
  .ant-menu-item-active {
    // idk about that :/
    border-bottom: 2px solid transparent !important;
  }
}
