@import "~sass/variables";

.column {
  height: inherit;
  width: 100px;
  float: left;
  position: relative;
  &:hover {
    .chord-slider,
    .octave-marker,
    .step-marker {
      opacity: 1;
    }
  }
}
